/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Martian Mono', monospace;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--text-50);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text-50: #f3f3f2;
    --text-100: #e7e7e4;
    --text-200: #cfcfc9;
    --text-300: #b6b6af;
    --text-400: #9e9e94;
    --text-500: #868679;
    --text-600: #6b6b61;
    --text-700: #505049;
    --text-800: #363630;
    --text-900: #1b1b18;
    --text-950: #0d0d0c;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #e7e9fe;
    --primary-100: #cfd3fc;
    --primary-200: #9fa8f9;
    --primary-300: #6e7cf7;
    --primary-400: #3e50f4;
    --primary-500: #0e25f1;
    --primary-600: #0b1dc1;
    --primary-700: #081691;
    --primary-800: #060f60;
    --primary-900: #030730;
    --primary-950: #010418;

    --secondary-50: #e7fdfa;
    --secondary-100: #d0fbf6;
    --secondary-200: #a0f8ec;
    --secondary-300: #71f4e3;
    --secondary-400: #41f1d9;
    --secondary-500: #12edd0;
    --secondary-600: #0ebea6;
    --secondary-700: #0b8e7d;
    --secondary-800: #075f53;
    --secondary-900: #042f2a;
    --secondary-950: #021815;

    --accent-50: #e7feef;
    --accent-100: #cffcdf;
    --accent-200: #9ff9c0;
    --accent-300: #6ef7a0;
    --accent-400: #3ef481;
    --accent-500: #0ef161;
    --accent-600: #0bc14e;
    --accent-700: #08913a;
    --accent-800: #066027;
    --accent-900: #033013;
    --accent-950: #01180a;
  }

  .dark {
    --text-50: #0d0d0c;
    --text-100: #1b1b18;
    --text-200: #363630;
    --text-300: #505049;
    --text-400: #6b6b61;
    --text-500: #868679;
    --text-600: #9e9e94;
    --text-700: #b6b6af;
    --text-800: #cfcfc9;
    --text-900: #e7e7e4;
    --text-950: #f3f3f2;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --primary-50: #010418;
    --primary-100: #030730;
    --primary-200: #060f60;
    --primary-300: #081691;
    --primary-400: #0b1dc1;
    --primary-500: #0e25f1;
    --primary-600: #3e50f4;
    --primary-700: #6e7cf7;
    --primary-800: #9fa8f9;
    --primary-900: #cfd3fc;
    --primary-950: #e7e9fe;

    --secondary-50: #021815;
    --secondary-100: #042f2a;
    --secondary-200: #075f53;
    --secondary-300: #0b8e7d;
    --secondary-400: #0ebea6;
    --secondary-500: #12edd0;
    --secondary-600: #41f1d9;
    --secondary-700: #71f4e3;
    --secondary-800: #a0f8ec;
    --secondary-900: #d0fbf6;
    --secondary-950: #e7fdfa;

    --accent-50: #01180a;
    --accent-100: #033013;
    --accent-200: #066027;
    --accent-300: #08913a;
    --accent-400: #0bc14e;
    --accent-500: #0ef161;
    --accent-600: #3ef481;
    --accent-700: #6ef7a0;
    --accent-800: #9ff9c0;
    --accent-900: #cffcdf;
    --accent-950: #e7feef;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl border-b;
  }

  a {
    @apply text-primary-300 hover:text-primary-400 border-b border-primary-400 hover:border-primary-500;
  }
}
